{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>igowo VServer</h1>

<h2>Server-Verwaltung</h2>
<ul>
    <li><a target="content" href="/admin/">Admin-Interface</a></li>
    <li><a target="content" href="/actions/save/">Konfiguration speichern ...</a></li>
</ul>

<h2>Verschiedenes</h2>
<ul>
  <li><a target="content" href="/pma/">phpMyAdmin</a></li>
  <li><a target="content" href="/pga/">phpPostgresAdmin</a></li>
  <li><a target="content" href="/roundcube/">Webmail</a></li>
</ul>
{% endblock %}
